$img-path: "/img/";

$fe-primary: #f60f0f;
$fe-accent: #e64a19;

$medium-range: (40.063em, 64em);
$medium-up: "only screen and (min-width:#{lower-bound($medium-range)})";

body {
	background: url(#{$img-path}desk-background-mobile.jpg);
	background-size: cover;
	background-position: center center;
	font-weight: bold;

	@media #{$medium-up} {
		background: url(#{$img-path}desk-background.jpg);
		background-size: cover;
		background-position: center center;
	}

	a {
		color: black;
		font-weight: bold;
	}
}

.content {
  	margin-top: 215px;
	@include grid-column($columns: 11, $center: true);

	@media #{$medium-up} {
		margin-top: 385px;
		@include grid-column($columns: 8, $center: true)
	}

	img {
		margin: 150px auto 40px;
		display: block;
	}

	.typeform-share {
		display: block;
		width: 200px;
		margin: 40px auto;
		color: white;
		font-weight: bold;
		font-size: 1.4rem;

		@media #{$medium-up} {
			margin: 0 auto;
		}
	}

	h1, h2, p, a {
		opacity: 0.8;
		text-align: center;
	}

	h1 {
		font-weight: 700;
		font-size: 1.7rem;
		
		@media #{$medium-up} {
			font-size: 3rem;
  			margin: 50px auto;
		}
	}

	h2 {
		font-size: 17px;
		line-height: 20px;
		margin-top: 10px;

		@media #{$medium-up} {
			font-size: 28px;
			line-height: 30px;
		}
	}

	p {
		a {
			display: block;
			
			@media #{$medium-up} {
				display: inline-block;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 30px;
	opacity: .9;

	a {
		color: black;
		font-weight: bold;
		text-decoration: none;
		opacity: 0.8;
	}
}